<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="blog.css">

</head>
<style>
    body {
        background-color: indigo;
    }
    
    h1 {
        text-align: center;
        color: white;
    }
</style>

<body>
    <h1>Post by #</h1>
    <div>
        <nav id="mainNavbar " class="navbar bg-dark navbar-expand-sm" aria-label="Toggle navigation">
                <a href="/" class="navbar-brand">Home</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navLink">
                    <span class="navbar-toggler-icon"></span>
        
                </button>
                <div class="collapse navbar-collapse" id="navLink">
                    <ul class="navbar-nav ml-auto">
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                            <a href="/admin" class="nav-link">Admin</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a href="/post" class="nav-link">Create Post</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="nav-item">
                            <a href="/login" class="nav-link">Login</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <form class="form-inline" method="POST" action="/logout">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <label for="submit" style="color:white">
                                    Hello,&nbsp;<span th:text="${#authentication.name}"></span>
                                </label>
                                <button class="btn btn-link" id="submit" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
    </div>


    <div class="card">
        <div>
            <nav id="mainNavbar " class="navbar bg-dark navbar-expand-sm" aria-label="Toggle navigation">
                <a href="#" class="navbar-brand">Post Title</a>
                <div class="collapse navbar-collapse" id="navLink">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a th:href="@{/tags(tag=${tag.name})}" th:text="${tag.name}"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="card-body">
        </div>
        <div class="card-body">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <!-- <a href="#" class="nav-link"></a> -->
                    <p>Today, many seasoned professionals continue to ask important questions about blogging, and they're not getting adequate answers.<br> While the blog has become an incredibly important tactic for SEO, social media marketing, and earned
                        media over the last fifteen years,
                        <br> the confusion on what it means to blog has only increased. Common questions include:</p>
            </ul>
        </div>
        <div class="card" id="input-group input-group-sm mb-4">
            <a href="">Post By </a>
            <span class="input-group-text" id="inputGroup-sizing-sm"> <a href=""></a>
            <!-- <a href="">Post By </a><br> -->

            <div class="d-flex flex-column flex-md-row justify-content-between">          
                    <a href="https:www.yahoo.com"><button href="" class="btn btn-primary btn-sm text-align-center ml-4">Follow</button></a>
                    <a href="https:www.google.com"><button href="" class="btn btn-secondary btn-sm ml-4">Nature</button></a>
                    <a href="https:www.w3schools.com"><button href="" class="btn btn-success btn-sm ml-4">Support</button></a>
                    <a href="https:www.thesoftwareguild.com"><button href="" class="btn btn-primary btn-sm ml-4">#Software</button></a>
                    <a href="https:www.google.com"><button href="" class="btn btn-secondary btn-sm ml-4">#google</button></a>
                    <a href="https:www.w3schools.com"><button href="" class="btn btn-success btn-sm ml-4">#w3</button></a>
                    <a href="https:www.thesoftwareguild.com"><button href="" class="btn btn-primary btn-sm ml-4">#Software</button></a>

            </div>        
        </div>

        </span>
        </div>
        <div class="card">
            <div>
                <nav id="mainNavbar " class="navbar bg-dark navbar-expand-sm" aria-label="Toggle navigation">
                    <a href="#" class="navbar-brand">Post Title</a>
                    <div class="collapse navbar-collapse" id="navLink">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Edit</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="card-body">
            </div>
            <div class="card-body">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <!-- <a href="#" class="nav-link"></a> -->
                        <p>Today, many seasoned professionals continue to ask important questions about blogging, and they're not getting adequate answers.<br> While the blog has become an incredibly important tactic for SEO, social media marketing, and
                            earned media over the last fifteen years,
                            <br> the confusion on what it means to blog has only increased. Common questions include:</p>
                </ul>
            </div>
            <div class="card" id="input-group input-group-sm mb-4">
                <a href="">Post By </a>
                <span class="input-group-text" id="inputGroup-sizing-sm"> <a href=""></a>
                <!-- <a href="">Post By </a><br> -->
    
                <div class="d-flex flex-column flex-md-row justify-content-between">          
                        <a href="https:www.yahoo.com"><button href="" class="btn btn-primary btn-sm text-align-center ml-4">Follow</button></a>
                        <a href="https:www.google.com"><button href="" class="btn btn-secondary btn-sm ml-4">Nature</button></a>
                        <a href="https:www.w3schools.com"><button href="" class="btn btn-success btn-sm ml-4">Support</button></a>
                        <a href="https:www.thesoftwareguild.com"><button href="" class="btn btn-primary btn-sm ml-4">#Software</button></a>
                        <a href="https:www.google.com"><button href="" class="btn btn-secondary btn-sm ml-4">#google</button></a>
                        <a href="https:www.w3schools.com"><button href="" class="btn btn-success btn-sm ml-4">#w3</button></a>
                        <a href="https:www.thesoftwareguild.com"><button href="" class="btn btn-primary btn-sm ml-4">#Software</button></a>
    
                </div>        
            </div>
    
            </span>
            </div>
            <div>
                <nav id="mainNavbar " class="navbar bg-dark navbar-expand-sm" aria-label="Toggle navigation">
                    <a href="#" class="navbar-brand">Copyright © 2019 AUK Inc. All rights reserved.</a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navLink">
                      <span class="navbar-toggler-icon"></span>
                  
                  </button>
                    <!-- <div class="collapse navbar-collapse" id="navLink">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link">TechHome</a>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Create</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link"></a>
                                </li>
                        </ul>

                    </div> -->
                </nav>
            </div>


</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>